{% if articles.count > 0 %}


{% for article in articles %}
{#    <li><a href="/articles/get/{{article.id}}/">{{article.title}}</a></li>#}
    <li><a href="{{ article.object.get_absolute_url }}/">{{ article.object.title }}</a></li>
{% endfor %}


{% else %}

<li>None to show!</li>

{% endif %}