{% extends "base.html" %}

{% block slidebar %}
<ul>
    <li><a href="/articles/all/">Articles</a></li>
</ul>
{% endblock %}


{% block content %}
    <h1>{{ article.title}}</h1>
    <p>{{ article.body}}</p>
    {% if article.thumbnail %}
    <p>
        <img src="/static/{{article.thumbnail}}" width="200" />
    </p>
    {% endif %}
    <p>{{article.like}} people liked this article</p>

    <p><a href="/articles/like/{{article.id}}/">Like</a></p>

    <h3>Comments</h3>
    {% for c in article.comment_set.all %}
    <p>{{ c.name }}: {{ c.body }}</p>
    {% endfor %}

    <p><a href="/articles/add_comment/{{article.id}}/">Add Comment</a></p>
{% endblock %}