{% extends "base.html" %}
{% load article_tags %}
{% block slidebar %}
<ul>
    <li><a href="/articles/all/">Articles</a></li>
    <li><a href="/articles/create/">Create Article</a></li>
</ul>
<h3>Search</h3>
{% csrf_token %}
<input type="text" id="search" name="search"/>
<ul id="search-result">

</ul>

{% endblock %}

{% block content %}

<h2>Language is: {{language}}</h2>
<h2>Session Language is: {{session_language}}</h2>

    {% if articles.count > 0 %}

        {% for article in articles %}
            <h2>
                <a href="/articles/get/{{ article.id }}/">
                    {{ article.title|lower|truncatewords:"10"}}
                </a>
            </h2>
            <p>
                {{ article.body|lower|article_shortten_body:50}}
            </p>
            <p>
                {{article.like}} people liked this article
            </p>

        {% endfor %}

    {% else %}
        <p>None to Show</p>
    {% endif %}

{% endblock %}