        body{
            text-align: center;
        }

        #page{
            width: 960px;
            text-align: left;
            margin: 10px auto 20px auto;
            background-color: #0c0c0c;
        }
        #slidebar{
            float: left;
            width: 200px;
            border: 1px solid #000;
        }
        #content{
            float: left;
            width: 600px;
            border: 1px solid #f00;
            padding: 10px;
        }