{% extends 'base.html' %}

{% block content %}

<h2>Profile</h2>
{% for field in form %}
{{ field.error }}
{% endfor %}

<form action="/accounts/profile/" method="POST">{% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Update" />
</form>

{% endblock %}