{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}My Base Template{% endblock %}</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %}">-->
    <link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}">
    <script type="application/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script type="application/javascript" src="{% static "js/ajax.js" %}"></script>

</head>
<body>
    <div id="page">
        <div id="slidebar">
            {% block slidebar %}
            <ul>
                <li><a href="/articles/all">Articles</a></li>
                <li><a href="/admin/">Admin</a></li>
            </ul>
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}This is the content area{% endblock %}
            <!--<img src="{% static "assets/images/python-logo.png" %}" />-->
        </div>
    </div>
</body>
</html>