{% extends 'base.html' %}

{% block content %}

    <h2>Contact Us</h2>
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    {% for field in form %}
        {{ field.error }}
    {% endfor %}

    <form action="/contact/" method="post">{% csrf_token %}
        <table>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {{ form }}
                    {% endfor %}
            {% else %}
                {{ wizard.form }}
            {% endif %}
        </table>
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">"first step"</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">"prev step"</button>
        {% endif %}
    <input type="submit" value="Submit"/>
    </form>

{% endblock %}
